# Node / React / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.lock
.expo/
.expo-shared/
dist/
build/
android/
ios/
*.apk
*.aab

# IDE / Sistema
.vscode/
.idea/
.DS_Store
*.log

# Ambiente
.env
.env.local
.env.*.local

# .NET / Backend
bin/
obj/
*.db
*.mdf
*.ldf

# Database
Database/**/*.bak
Database/**/*.sqlproj.user
/.vs/CliniData/FileContentIndex
/.vs/CliniData/CopilotIndices/17.14.1231.31060
/.vs/CliniData
/.vs/CliniData/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation
/.vs/CliniData/v17/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
