#############################################
# Node / React / React Native
#############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.lock
.expo/
.expo-shared/
dist/
build/
android/
ios/
*.apk
*.aab

#############################################
# IDE / Sistema
#############################################
.vscode/
.idea/
.DS_Store
*.log

#############################################
# Ambiente
#############################################
.env
.env.local
.env.*.local

#############################################
# .NET / Backend
#############################################
bin/
obj/
*.db
*.mdf
*.ldf

#############################################
# Database
#############################################
Database/**/*.bak
Database/**/*.sqlproj.user

#############################################
# Visual Studio
#############################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

#############################################
# NuGet
#############################################
*.nupkg
*.nuget.cache
*.nuget.props
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
